{% extends "base.html" %}
{% block extra_css %}
{% endblock %}
{% block content %}
<article>
<h1>Pastly's Pastebin</h1>
<p>This site is <a href="https://p.pastly.xyz">p.pastly.xyz</a> and has an
onion service:
<a href="http://tgmqry5eeyaojen77lm6zigwcri5uq5dh5alyfgtuyghoz7nxjjh3vyd.onion/">tgmqry5eey...onion</a>.
</p>
<p>
Here you can easily paste logs/configs/code/etc. and upload miscellaneous other
files you want to share.
</p>
<p>
Anonymous pastes/uploads are not listed anywhere, not credited to anyone, and
may be subject to an automatic deletion policy in the future.
</p>
<p>
Creating an account allows you to access a list of things you previously
uploaded/pasted and delete them.
</p>

    {% include "buttons.html" %}
</article>
{% endblock %}
